
html {
  font-size: 18px;
  background-color: white;
}

head {
  display: none;
}

body {
  font-family: Helvetica, sans-serif;
  line-height: 1.4em;
}

.company {
  background-color: black;
  color: white;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

.company .container {
  display: flex;
  align-items: center;
  padding: 12px 0 12px .5em;
}

.company img {
  height: 1.5em;
  padding-right: 15px;
}

img {
  border-style: none;
}

.main-section{
  background: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/moto.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 25em;
}

nav{
  background-color: firebrick;
  color: white;
}

nav ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: .75em 0;
  list-style: none;
}

.headline {
    background-color: black;
    color: white;
    width: 20em;
    padding: 2em 3em;
    position: relative;
    top: 9em;
  }

  h1, h4{
    font-weight: bold;
  }

  .headline h1 {
    font-size: 2em;
    line-height: 1.2em;
    margin: 0.25em 0;
  }

  .products, .business-info {
    display: flex;
    justify-content: space-between;
    margin: 3em 0 0 0;
  }

  .product{
    width: 30%;
  }

  .product-image {
    border: 4px solid black;
    padding:2em 0;
    height: 9em;
    display:flex;
    justify-content: center;
    align-items: center;
  }

  .product-image img {
    max-width: 8em;
  }

.description{
  display: block;
  background-color: black;
  color: white;
  text-align: center;
  padding: .5em;
}

.info {
  width: 35%;
}

.info .title {
  display: block;
  background-color: black;
  color: white;
  padding: 1em 2em;
}

footer {
  background-color: black;
  color: white;
  padding: 5em 0;
  margin-top: 4em;
}

@media only screen and (max-width: 470px){
  footer{
    text-align: center;
  }
}

@media only screen and (max-width: 1024px)
.mobile-nav {
  display: block;
  text-align: center;
}

.mobile-nav{
  display: none;
}

@media only screen and (max-width: 1024px){
body {
  font-size: 16px;
  }
}

@media only screen and (max-width: 1024px){
nav ul {
  display: none;
}

.mobile-nav: {
  display: block;
  text-align: center;
}
}

@media only screen and (max-width: 470px){
  .main-section{
    height: 15em;
  }


@media only screen and (max-width: 1024px){
  .product {
    width: 47%;
  }

  .product.glasses{
    display: none;
  }
}

@media only screen and (max-width: 470px){
  .product, business-info{
    flex-wrap: wrap;
  }

  .product {
    width: 90%;
    margin: auto;
  }
    .product.watch {
      display:none;
    }
  .info{
    width: 90%;
    margin: .5em auto;
  }
}
